<% @page_title = 'Início' %>

<% @days = 10 %>
<h4>Programas de Convênio disponibilizados nos últimos <%= @days %> dias.</h4>

<%= programas_data_table :data => @programas, :total => @total, :last_days => @days %>
