<% @page_title = 'Sobre o sítio' %>

<% @sobre_ativa = true %>

<div class="hero-unit">
  <h3>Sobre</h3>
  <p>Conheça o projeto e saiba como ajudar.</p>
</div>

<h4>Missão</h4>
<p align="justify">
Este sítio tem por objetivo viabilizar a consulta de programas de convênio disponibilizados no portal de convênios
do governo federal. Oferecer uma interface de consulta que possibilite encontrar os programas de convênio que foram
disponibilizados recentemente e um mecanismo de Feed. Os dados apresentados aqui foram retirados do <a href="http://www.convenios.gov.br">Portal de
Convênios - Siconv</a>. Toda informação contida no Siconv é de caráter público e por isso pode e deve ser analisada pelos
cidadãos.
<p/>

<h4>Siconv</h4>
<p align="justify">
Desde 2008 está no ar o Portal de Convênios - Siconv. Sistema responsável pela tramitação de todo o processo de transferência voluntária.
<br/>
"Convênios são acordos, ajustes ou qualquer outro instrumento que discipline a transferência de recursos financeiros de dotações consignadas nos Orçamentos Fiscal e da Seguridade Social da União e tenha como participe, de um lado, órgão ou entidade da administração pública federal, direta ou indireta , ou ainda, entidades privadas sem fins lucrativos, visando a execução de programa de governo, envolvendo a realização de projeto, atividade, seviço, aquisição de bens ou evento de interesse recíproco, em regime de mútua cooperação.
<br/>
Decreto nº 6.170, de 25 de julho de 2007"

<section id="licenca">
<h4>Licença</h4>
<p align="justify">
  Este sítio é regido por políticas de software livre: você pode redistribui-lo e/ou modificálo
  sob os termos da GNU Affero General Public Licence como publicado pela Free Software Foundation,
  bem como na versão 3 da licença ou qualquer outra versão posterior.
</p>
<p align="justify">
  O código fonte deste sítio é distribuído na esperança de que seja útil, mas SEM QUALQUER GARANTIA;
  mesmo sem a garantia implícita de COMERCIALIZAÇÃO ou ADEQUAÇÃO PARA UM DETERMINADO FIM. Veja
  a GNU Affero General Public Licence pra mais detalhes.
</p>
<p align="justify">
  Você já deve ter recebido uma cópia da GNU Affero General Public Licence ao longo deste sítio.
  Caso não, veja em <a href="http://www.gnu.org/licenses/agpl.html">http://www.gnu.org/licenses/agpl.html</a>
<p/>
</section>
